ALTER TABLE schools ADD COLUMN IF NOT EXISTS recruitment_terms TEXT DEFAULT '1. Standard 6-month probation applies.
2. 30 days notice required for resignation.
3. Strict adherence to school decorum.';
ALTER TABLE schools ADD COLUMN IF NOT EXISTS job_descriptions JSONB DEFAULT '{}'::jsonb;
